*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inscription, .connexion, .plante{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 15px;
}

h2{
    margin-bottom: 10px;
}


.general{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

.general th{
    padding: 0 30px;
    border: 1px solid black;
}

.style{
    width: 300px;
    height: 500px;
    border: 1px solid black;
}